{%extends "layouts/app.html" %}

{% block title %} OVA - POO1 {% endblock %}

{% block content2  %}
    <style>
        .sobreNosotros{
            font-size: 18px;
        }
        .fadeInUp h5{
            font-size: 22px;
        }
    </style>
{% endblock %}
{% block content  %}

  <!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header  border-info">
                        <h2 class=""><b>Bienvenido al OVA {{ user }}</b> </h2>
       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <h3 class="text-center" > <b> Programación Orientada a Objetos</b></h3>

                    <div class="card-body">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                                    aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="../../static/img/ufps1.png" alt="First slide" style="filter:brightness(40%)" height="340px"
                                        class="d-block w-100">
                                        <div class="carousel-caption d-flex flex-column justify-content-center h-100 txt-carousel">
                                            <h2  class="tittle-carrusel ">Aquí podras aprender todo sobre el paradigma orientado a objetos.</h2>
                                        
                                         <div class="boton">
                                            <a href="../subtema1.1/" class="btn  btn-primary " >Empezar</a>
                                            
                                         </div>
                                           
                                        </div>
                            
                                        
                                </div>
                                <div class="carousel-item">
                                    <img src="../../static/img/ufps2.png" style="filter:brightness(40%)" alt="Second slide" height="340px"
                                        class="d-block w-100">
                                        <div class="carousel-caption d-flex flex-column justify-content-center h-100 txt-carousel">
                                            <h2  class="tittle-carrusel ">Aquí podras aprender todo sobre el paradigma orientado a objetos.</h2>
                                            <div class="boton">
                                                <a href="../subtema1.1/" class="btn  btn-primary " >Empezar</a>
                                                
                                             </div>
                                        </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="../../static/img/ufps3.png" style="filter:brightness(40%)" alt="Third slide" height="340px"
                                        class="d-block w-100">
                                        <div class="carousel-caption d-flex flex-column justify-content-center h-100 txt-carousel">
                                            <h2  class="tittle-carrusel ">Aquí podras aprender todo sobre el paradigma orientado a objetos.</h2>
                                            <div class="boton">
                                                <a href="../subtema1.1/" class="btn  btn-primary " >Empezar</a>
                                                
                                             </div>
                                        </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                       
                        </div>
                 
                    
                    

                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>



 {% comment %}  <section class="content pt-3">
    <h1>Bienvenido al OVA </h1>

    

</section>
 {% endcomment %}



 

  <section class="content mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header  border-info">
                        <h2 class=""><b>Temas de POO</b> </h2>
       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                    <div class="card-body">
                        <div class="row g-4">
                            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="service-item text-center pt-3">
                                    <div class="p-4">
                                        <i class="fa fa-3x fa-cubes text-danger mb-4"></i>
                                        <h5 class="mb-3">Conceptos Básicos de la POO</h5>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="service-item text-center pt-3">
                                    <div class="p-4">
                                        <i class="fa fa-3x fa-search text-danger mb-4"></i>
                                        <h5 class="mb-3">Fase Análisis y Diseño</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                                <div class="service-item text-center pt-3">
                                    <div class="p-4">
                                        <i class="fa fa-3x fa-cube text-danger mb-4"></i>
                                        <h5 class="mb-3">Introducción a las clases y objetos</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                                <div class="service-item text-center pt-3">
                                    <div class="p-4">
                                        <i class="fa fa-3x fa-object-group text-danger mb-4"></i>
                                        <h5 class="mb-3">Diseño de Interfaces Gráficas</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        </div>
                 
                    
                    

                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>




<section class="content mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header  border-info">
                        <h2 class=""><b>Sobre nosotros</b> </h2>
       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                  <!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
  
            <div class="col-lg-6 wow fadeInUp sobreNosotros" data-wow-delay="0.3s">
                <p class="mb-4">Somos un gran equipo de ingenieros de sistemas que ha desarrollado este OVA con el fin de facilitar el aprendizaje
                     de los temas de programación orientado a objetos.</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-danger me-2"></i>Jarlin Fonseca</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-danger me-2"></i>Jeferson Hernandez</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-danger me-2"></i>Yoel Castilla</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-danger me-2"></i>Alejandro Quiñonez</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-danger me-2"></i>Doctor: Ing. Jairo Fuentes</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute " src="../../static/img/roles.png" alt="" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
                    
                    

                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>


<div class="text-center mt-2 ">
    <a href="../subtema1.1/" class="btn btn-lg  btn-danger mr-5" >Siguiente</a>
    <a href="#arriba" class="btn-circle p-3 rounded-circle  btn-info " ><i class='fa fa-arrow-up'></i></a>
 </div>


{% endblock %}