{%extends "layouts/app.html" %}

{% block title %} Subtema 1.1 {% endblock %}


 
{% block content  %}

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-12">
                <div class="card">
                    
                    <div class="card-header  border-info">
                        <h2><b>SUBTEMA 1.1 Resolución de un Problema en Orientación a Objetos</b> </h2>
       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-center">

                        <div class="text-center  d-flex justify-content-center  mt-4 mb-4">
                            <div class="card" style="width: 63rem;" id="card">
                                <div class="card-body">
                                <div class="embed-responsive embed-responsive-16by9 responsive-iframe" >
                                    <iframe class="embed-responsive-item "  src="https://www.youtube.com/embed/pQ_Bl9KihzA"
                                        allowfullscreen></iframe>
                                    </div>
                                </div>
                                </div>
                           
                        </div>
 

                </div>
                    
                    

                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

 <!-- Main content -->
 <section class="content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-12">
                <div class="card">
                    
                    <div class="card-header  border-info">
                        <h2><b>Taller: realizar el diagrama de clases del siguiente problema</b> </h2>
       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-center">

                        <embed src="../../static/files/TALLER.pdf" type="application/pdf" width="100%" height="600px" />
 

                </div>
                    
                    

                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

<div class="text-center mt-2 ">
    <a href="../home/" class="btn btn-lg btn-warning mr-5" >Regresar</a>
    <a href="../subtema1.2/" class="btn btn-lg  btn-danger mr-5" >Siguiente</a>
    <a href="#arriba" class="btn-circle p-3 rounded-circle  btn-info " ><i class='fa fa-arrow-up'></i></a>
 </div>


{% endblock %}