{%extends "layouts/app.html" %}

{% block title %} Ejercicio Práctico Final{% endblock %}

{% block content2  %}
    <style>
        .content p{
            font-size: 20px;
        }
        pre{
            font-size: 20px;
        }
    </style>
{% endblock %}

{% block content  %}



  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header  border-info">
                        <h3><b>Ejercicio Práctico Final</b> </h3>
       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-justify ">

                       <h4>Ejercicio Práctico del Ing. Milton Jesús Vera- Curso JAVA FX</h4>

                       <h4 class="mt-5"><b>Parte 1:</b></h4>
                       <div class="text-center  d-flex justify-content-center  mt-4 mb-2">
                        <div class="card" style="width: 63rem;" id="card">
                            <div class="card-body">
                            <div class="embed-responsive embed-responsive-16by9 responsive-iframe" >
                                <iframe class="embed-responsive-item "  src="https://www.youtube.com/embed/pj_hpOMgTfs"
                                    allowfullscreen></iframe>
                                </div>
                            </div>
                            </div>
                        </div> 

                        <h4 class="mt-5"><b>Parte 2:</b></h4>
                       <div class="text-center  d-flex justify-content-center  mt-4 mb-2">
                        <div class="card" style="width: 63rem;" id="card">
                            <div class="card-body">
                            <div class="embed-responsive embed-responsive-16by9 responsive-iframe" >
                                <iframe class="embed-responsive-item "  src="https://www.youtube.com/embed/eD3NmsjpPlU"
                                    allowfullscreen></iframe>
                                </div>
                            </div>
                            </div>
                        </div> 


                        <h4 class="mt-5"><b>Parte 3:</b></h4>
                       <div class="text-center  d-flex justify-content-center  mt-4 mb-2">
                        <div class="card" style="width: 63rem;" id="card">
                            <div class="card-body">
                            <div class="embed-responsive embed-responsive-16by9 responsive-iframe" >
                                <iframe class="embed-responsive-item "  src="https://www.youtube.com/embed/bZYinbn6wpA"
                                    allowfullscreen></iframe>
                                </div>
                            </div>
                            </div>
                        </div> 

                        <h4 class="mt-5"><b>Parte 4:</b></h4>
                       <div class="text-center  d-flex justify-content-center  mt-4 mb-2">
                        <div class="card" style="width: 63rem;" id="card">
                            <div class="card-body">
                            <div class="embed-responsive embed-responsive-16by9 responsive-iframe" >
                                <iframe class="embed-responsive-item "  src="https://www.youtube.com/embed/k_5WRH1yl_Q"
                                    allowfullscreen></iframe>
                                </div>
                            </div>
                            </div>
                        </div> 

                        <h4 class="mt-5"><b>Parte 5:</b></h4>
                       <div class="text-center  d-flex justify-content-center  mt-4 mb-2">
                        <div class="card" style="width: 63rem;" id="card">
                            <div class="card-body">
                            <div class="embed-responsive embed-responsive-16by9 responsive-iframe" >
                                <iframe class="embed-responsive-item "  src="https://www.youtube.com/embed/qsRLj4in5ec"
                                    allowfullscreen></iframe>
                                </div>
                            </div>
                            </div>
                        </div> 

                        <h4 class="mt-5"><b>Parte 6:</b></h4>
                       <div class="text-center  d-flex justify-content-center  mt-4 mb-2">
                        <div class="card" style="width: 63rem;" id="card">
                            <div class="card-body">
                            <div class="embed-responsive embed-responsive-16by9 responsive-iframe" >
                                <iframe class="embed-responsive-item "  src="https://www.youtube.com/embed/3WsMShkmy8U"
                                    allowfullscreen></iframe>
                                </div>
                            </div>
                            </div>
                        </div> 

                        <h4 class="mt-5"><b>Parte 7:</b></h4>
                       <div class="text-center  d-flex justify-content-center  mt-4 mb-2">
                        <div class="card" style="width: 63rem;" id="card">
                            <div class="card-body">
                            <div class="embed-responsive embed-responsive-16by9 responsive-iframe" >
                                <iframe class="embed-responsive-item "  src="https://www.youtube.com/embed/PYOupRWxCdk"
                                    allowfullscreen></iframe>
                                </div>
                            </div>
                            </div>
                        </div> 

                           
                </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

<div class="text-center mt-2 ">
    <a href="../subtema4.8/" class="btn btn-lg btn-warning mr-5" >Regresar</a>
    <a href="../test4/" class="btn btn-lg  btn-danger mr-5" >Siguiente</a>
    <a href="#arriba" class="btn-circle p-3 rounded-circle  btn-info " ><i class='fa fa-arrow-up'></i></a>
 </div>

{% endblock %}


{% block content3  %}
<script>hljs.highlightAll();</script>
{% endblock %}