{%extends "layouts/app.html" %}

{% block title %} Subtema 1.5 {% endblock %}

{% block content2  %}
    <style>
        .content p{
            font-size: 20px;
        }
    </style>
{% endblock %}

{% block content  %}

 <!-- Main content -->
 <section class="content ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
      
                        <h2><b>SUBTEMA 1.5 Estructura general de una aplicación en Orientación a Objetos.</b> </h2>
       
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

  <!-- Main content -->
  <section class="content mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header  border-info">
                        <h3><b>La estructura general de una aplicación OO</b> </h3>
       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-justify ">
                        <p>(POO) depende del lenguaje de programación que se esté utilizando y del problema que se quiera resolver. Sin embargo, en general, una aplicación orientada a objetos suele incluir algunos elementos básicos como clases, objetos, atributos y
                             métodos; estructura general de una aplicación en Orientación a Objetos.</p>

                        <p class="mt-3">A continuación se da un ejemplo de una clase en Java con toda la estructura general de POO: </p>
        
                        <div class="card-body text-center">
                            <img src="../../static/img/clase1Java.png" class="imgInformacion img-fluid " alt="clase1" width="650rem"/>    
                        </div> 

                        <div class="card-body text-center">
                            <img src="../../static/img/clase2Java.png" class="imgInformacion img-fluid " alt="clase2" width="650rem"/>    
                        </div> 

                        <div class="card-body text-center">
                            <img src="../../static/img/clase3Java.png" class="imgInformacion img-fluid " alt="clase3" width="650rem"/>    
                        </div> 

                        <div class="card-body text-center">
                            <img src="../../static/img/clase4Java.png" class="imgInformacion img-fluid " alt="clase4" width="650rem"/>    
                        </div> 


                </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-12">
                <div class="card">
                    
                    <div class="card-header  border-info">
                        <h2><b>Actividad de Herencia</b> </h2>
       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-center">

                        <embed src="../../static/files/GUIA DE HERENCIA EN JAVA.pdf" type="application/pdf" width="100%" height="600px" />
 

                </div>
                    
                    

                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>


<div class="text-center mt-2 ">
    <a href="../subtema1.4/" class="btn btn-lg btn-warning mr-5" >Regresar</a>
    <a href="../test1/" class="btn btn-lg  btn-danger mr-5" >Siguiente</a>
    <a href="#arriba" class="btn-circle p-3 rounded-circle  btn-info " ><i class='fa fa-arrow-up'></i></a>
 </div>


{% endblock %}