{%extends "layouts/appAdmin.html" %}

{% block title %} Editar datos Estudiantes {% endblock %}

{% block content2  %}


{% endblock  %}

{% block content  %}

  
<!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    <div class="card">
                        <div class="card-header  border-info">
                            <h3 class="card-title"><b>Datos personales</b> </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <small class="my-2 font-weight-bold float-right">Por favor llene todos los camppos del
                                formulario.</small>

                            <!-- Form -->
    <form action="#" method="POST"  enctype="multipart/form-data">
       
        {% csrf_token %} 
        <!-- Name -->
        <div class="form-group">
            <label class="form-label">Nombres:</label>
            <input type="text" class="form-control " name="name" value="Juan">
        </div>
        <!-- ./Name -->

        <!-- Lastname -->
        <div class="form-group">
            <label class="form-label">Apellidos:</label>
            <input type="text" class="form-control " name="lastname" value="Lopez">
        </div>
        <!-- ./Lastname -->

        <!-- DocumentType -->
        <div class="form-group">
            <label>Tipo de Documento:</label>
            <select name="document_type_id" class="form-control select2bs4">
                <option value="-1">Seleccione un tipo de documento..</option>
                <option value="1">C.C Cédula de ciudadanía</option>
                <option value="2">T.I Tarjeta de Identidad</option>
                <option value="3">C.E Cédula de Extranjeria</option>
            </select>
        </div>
        <!-- ./DocumentType -->

        <!-- Document -->
        <div class="form-group">
            <label class="form-label">Documento:</label>
            <input type="number" class="form-control " name="document" value="1009544564">
        </div>
        <!-- ./Document -->

        <!-- Birthdate -->
        <div class="form-group">
            <label>Fecha de Nacimiento</label>
            <input type="date" class="form-control" name="birthdate" value="2000-10-12">
        </div>
        <!-- ./Birthdate -->

        <!-- BirthdatePlace -->
        <div class="form-group">
            <label>Lugar de Nacimiento:</label>
            <input type="text" class="form-control " name="birthdate_place" value="Cúcuta">
        </div>
 
        <!-- ./BirthdatePlace -->

        <!-- Address -->
        <div class="form-group">
            <label class="form-label">Dirección de Residencia:</label>
            <input type="text" class="form-control " name="address" value="Calle 1 #0-70 Caobos">
        </div>
        <!-- ./Address -->

        <!-- Phone -->
        <div class="form-group">
            <label class="form-label">Celular Personal:</label>
            <input type="text" class="form-control " name="phone" value="32654556544">
        </div>
        <!-- ./Phone -->

        <!-- Telephone -->
        <div class="form-group">
            <label class="form-label">Teléfono:</label>
            <input type="text" class="form-control " name="telephone" value="595445444">
        </div>
        <!-- ./Telephone -->

        <!-- Code -->
        <div class="form-group">
            <label class="form-label">Código Institucional:</label>
            <input type="text" class="form-control " name="code" value="1151759">
        </div>
        <!-- ./Code -->

        <!-- Emailufps -->
        <div class="form-group">
            <label class="form-label">Correo Institucional(@ufps):</label>
            <input type="email" class="form-control " name="company_email" value="juan@ufps.edu.co"
                pattern=".+@ufps.edu.co" size="30">
        </div>
        <!-- ./Emailufps -->

        <!-- Email -->
        <div class="form-group">
            <label class="form-label">Correo Personal:</label>
            <input type="email" class="form-control " name="email" value="juan@gmail.com" size="30">
        </div>
        <!-- ./Email -->




        <!-- Submit -->
        <div class="mt-4">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="submit" class="btn btn-danger">Guardar</button>
                <div class="ml-5">
                    <a class="btn btn-warning " style="color:black;
                    text-decoration: none;" href="#">Regresar</a>
                </div>
            </div>
          
        </div>
        <!-- ./Submit -->
        
    </form>
    <!-- ./Form -->

                        </div>
                        <!-- /.card-body -->

                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>


{% endblock  %}