{%extends "layouts/appAdmin.html" %}

{% block title %} Editar datos Estudiantes {% endblock %}

{% block content2  %}


{% endblock  %}

{% block content  %}


    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    <div class="card">
                        <div class="card-header  border-info">
                            <h3 class="card-title"><b>Cambiar Contraseña del Estudiante</b> </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <small class="my-2 font-weight-bold float-right">Por favor llene todos los camppos del
                                formulario.</small>

                            <form action="#" method="post">
                                {% csrf_token %} 
                           

                                <!-- New Password -->
                                <div class="form-group">
                                    <label for="password">Nueva Contraseña:</label>
                                    <input type="password" class="form-control form-control-sm" name="password"
                                        placeholder="Escriba una nueva contraseña...">
                                </div>
    
                                <!-- ./New Password -->

                                <!-- Repeat New Password -->
                                <div class="form-group">
                                    <label for="password">Repetir Nueva Contraseña:</label>
                                    <input type="password" class="form-control form-control-sm" name="repeat_password"
                                        placeholder="Escriba una nueva contraseña...">
                                </div>

                                <!-- ./Repeat New Password -->

                                <!-- Submit -->
                                <div class="form-group">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button class="btn btn-sm btn-danger">Guardar</button>
                                        <div class="ml-5">
                                            <a class="btn btn-sm btn-warning " style="color:black;
                                            text-decoration: none;" href="#">Regresar</a>
                                        </div>
                                    </div>
                                </div>

                            
                                   
                                  
                      
                                <!-- ./Submit -->

                            </form>


                        </div>
                        <!-- /.card-body -->

                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>


{% endblock  %}