{%extends "layouts/app.html" %}

{% block title %} Subtema 4.4 {% endblock %}

{% block content2  %}
    <style>
        .content p{
            font-size: 20px;
        }
        pre{
            font-size: 20px;
        }
        .botonGC {
        text-align: center;
        display: flex;
        justify-content: center;
         }
    </style>
{% endblock %}

{% block content  %}

 <!-- Main content -->
 <section class="content ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
      
                        <h3><b>SUBTEMA 4.4 Para despliegue de Información: JCombobox, JList</b> </h3>
       
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

  <!-- Main content -->
  <section class="content mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header  border-info">
                        <h3><b>JCombobox</b> </h3>
       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-justify ">

                       <p>
                        Un ComboBox editable ahorra tiempo de entrada proporcionando atajos para los valores más comúnmente introducidos. Un ComboBox no editable desactiva el tecleo pero aun así permite al usuario seleccionar un valor desde una lista. El control JComboBox permite seleccionar un String de una lista. Para inicializar los String que contendrá el JComboBox debemos llamar al método addItem tantas veces como elementos queremos cargar. Un evento muy útil con este control es cuando el operador selecciona un Item de la lista.
                       </p>

                        <div class="card-body text-center">
                            <img src="../../static/img/jcombobox.png" class="imgInformacion img-fluid " alt="jcombobox" />
                           
                        </div>


                        <p>JComboBox en Java Swing este objeto es una lista desplegable que se parece mucho a un objeto de html llamado select, El JCombobox nos permite agregar elementos a dicha lista además de poder manipularla al 100%; dicho objeto es muy fácil de utilizar incluso podemos agregarle datos desde una base de datos y hacer una lista más profesional, dicho objeto que es una clase que nos inserta una lista desplegable, y un textfield, el usuario puede teclear un valor o elegirlo desde una lista. Un ComboBox editable ahorra tiempo de entrada proporcionando atajos para los valores más comúnmente introducidos. Un ComboBox no editable desactiva el tecleo pero aun así permite al usuario seleccionar un valor desde una lista. Esto proporciona un espacio altenartivo a un grupo de radio buttons o una list.
                            <br><br>
                            JComboBox en Java Swing tiene método llama a getSelectedItem para obtener el nuevo patrón elegido por el usuario, y utilizarlo para reformatear la fecha y la hora actuales. Cuidado: Un ComboBox es un componente compuesto: comprende un botón, un menú desplegable, y cuando es editable, un campo de texto. El ComboBox dispara eventos de alto nivel, como eventos action. Sus componentes disparan eventos de bajo nivel como mouse, key y eventos de foco.
                           <br><br>
                            Normalmente componentes como el ComboBox deberían proporcionar oyentes para los eventos de alto nivel, porque los eventos de bajo nivel y los subcomponentes que los disparan son dependientes del sistema.
                            </p>

                            <h4 class="mt-5"><b>Ejercicio Práctico:</b></h4>

                            <div class="text-center  d-flex justify-content-center  mt-2 mb-2">
                                <div class="card" style="width: 63rem;" id="card">
                                    <div class="card-body">
                                    <div class="embed-responsive embed-responsive-16by9 responsive-iframe" >
                                        <iframe class="embed-responsive-item "  src="https://www.youtube.com/embed/22AqwCzuXVM"
                                            allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    </div>
                               
                            </div> 
           
                           
                </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>


 <!-- Main content -->
 <section class="content mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header  border-info">
                        <h3><b>JList</b> </h3>
       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-justify ">

                       <p>Un JList en Java Swing es un elemento de java swing que le presenta al usuario un grupo de ítems para elegir. 
                        Los ítems pueden ser cualquier Object. Un lista puede tener muchos ítems, o podría crecer hasta tenerlos. 
                        Cómo la mayoría de las listas se sitúan dentro de paneles desplazables, JList es una clase scroll-savvy.
                    </p>


                        <div class="card-body text-center">
                            <img src="http://3.bp.blogspot.com/_73t-OXs9bAc/TTjB_yWu_tI/AAAAAAAAAPg/33tk8qAjPO4/s320/lista.png" class="imgInformacion img-fluid " alt="jlist" /> 
                        </div> 


                        <h4 class="mt-5"><b>Ejercicio Práctico:</b></h4>

                        <div class="text-center  d-flex justify-content-center  mt-4 mb-2">
                            <div class="card" style="width: 63rem;" id="card">
                                <div class="card-body">
                                <div class="embed-responsive embed-responsive-16by9 responsive-iframe" >
                                    <iframe class="embed-responsive-item "  src="https://www.youtube.com/embed/QSW5PVsfkqo"
                                        allowfullscreen></iframe>
                                    </div>
                                </div>
                                </div>
                           
                        </div> 
            
                               
                </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

<div class="container text-center">
    <h1><b>Actividad</b> </h1>

</div>


<div class="container ">
    <div class="row g-5 d-flex justify-content-center ">

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card " style="width: 21rem; height: 350px;" id="card">
                    <img src="../../static/img/undraw_Programming_re_kg9v.png" class="cd card-img-top" height="200px"
                        alt="...">
                    <div class="card-body d-flex justify-content-center text-center">
                            <h5 class="card-title"  id="card-title"> <a href="../subtema4.4_actv1/" class="vinculoTitulo">Quiz</a></h5>
                    </div>
                    <div class="card-footer">
                        <a href="../subtema4.4_actv1/" class="botonGC btn btn-danger">Realizar</a>
                    </div>
                </div>
            </div>


  
    </div>


</div>

<div class="text-center mt-2 ">
    <a href="../subtema4.3/" class="btn btn-lg btn-warning mr-5" >Regresar</a>
    <a href="../subtema4.5/" class="btn btn-lg  btn-danger mr-5" >Siguiente</a>
    <a href="#arriba" class="btn-circle p-3 rounded-circle  btn-info " ><i class='fa fa-arrow-up'></i></a>
 </div>

{% endblock %}


{% block content3  %}
<script>hljs.highlightAll();</script>
{% endblock %}