{%extends "layouts/app.html" %}

{% block title %} Resultados del Test 2 {% endblock %}


{% block content  %}

  <!-- Main content -->
  <section class="content ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header  border-info">
                        <h2 class=""><b>Resultados del Test 2: Fase de Análisis y Diseño</b> </h2>
       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <div class="container contenedorPreguntas text-center">
                            <h2>Has completado correctamente el Test 2 sobre la Fase de Análisis y Diseño.</h2>

                            <div class="mt-4 ">
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    {% if nota >= 3 %}
                                         <div class="col-md-6 border border-2 border-success bg-success">
                                    {% else %}
                                         <div class="col-md-6 border border-2 border-danger bg-danger">
                                    {% endif %}
                                        <h1 class="">Obtuviste una nota de: <b>2.9</b></h1>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                               
                            </div>
                            

                            
                            {% if nota >= 3 %}
                                <h1 class="mt-4"><b>APROBASTE EL TEST</b></h1>
                                <img src="../../static/img/aprobado.png"class="mt-4" alt="" width="120rem">
                            {% else %}
                                 <h1 class="mt-4"><b>PERDISTE EL TEST</b></h1>
                                 <img src="../../static/img/rechazo.png"class="mt-4" alt="" width="120rem">
                            {% endif %}

             
                        </div>
                </div>
                <!-- /.card -->
                    
                    

                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>


<div class="text-center mt-2 ">
    <a href="../subtema2.4/" class="btn btn-lg btn-warning mr-5" >Regresar</a>
    <a href="../subtema3.1/" class="btn btn-lg  btn-danger mr-5" >Siguiente</a>
    <a href="#arriba" class="btn-circle p-3 rounded-circle  btn-info " ><i class='fa fa-arrow-up'></i></a>
 </div>

{% endblock %}