{%extends "layouts/app.html" %}

{% block title %} Subtema 1.3 {% endblock %}

{% block content2  %}
    <style>
        .content p{
            font-size: 20px;
        }
        .botonGC {
        text-align: center;
        display: flex;
        justify-content: center;
         }

    </style>
{% endblock %}

{% block content  %}

 <!-- Main content -->
 <section class="content ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
      
                        <h2><b>SUBTEMA 1.3 Conceptos básicos de Objetos</b> </h2>
       
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

  <!-- Main content -->
  <section class="content mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header  border-info">
                        <h3><b>Características -> Atributos</b> </h3>
       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-justify ">
           
                            <div class="card-body text-center">
                                <img src="../../static/img/DiagramasTema1y2-propiedades.png" class="imgInformacion img-fluid " alt=""/>
                            </div>

                            <p>Las propiedades o atributos son elementos que forman parte de una clase en programación orientada a objetos. Cada propiedad representa una característica o una cualidad de un objeto de la clase. Por ejemplo, si estamos creando una clase llamada "perro", una propiedad podría ser el nombre del perro, otro podría ser su peso, y otro podría ser su altura. Cada objeto de la clase "perro"
                                 tendrá su propio conjunto de valores para cada una de estas propiedades.</p>

                </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>


  <!-- Main content -->
  <section class="content mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header  border-info">
                        <h3><b>Métodos</b> </h3>
       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-justify ">
                     
                    <p>Los métodos en programación orientada a objetos son funciones que se asocian a una clase y que pueden ser usadas por 
                        las instancias de esa clase. Los métodos se usan para definir la funcionalidad de 
                        una clase y para proporcionar una forma de acceder a los datos de una instancia de esa clase.</p>


                            <div class="text-center  d-flex justify-content-center  mt-4 mb-4">
                                <div class="card" style="width: 63rem;" id="card">
                                    <div class="card-body">
                                    <div class="embed-responsive embed-responsive-16by9 responsive-iframe" >
                                        <iframe class="embed-responsive-item "  src="https://www.youtube.com/embed/XNVHS5eT5HU"
                                            allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    </div>
                               
                            </div>

                    
                     </div>
                    
                    
                    

                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

 <!-- Main content -->
 <section class="content mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header  border-info">
                        <h3><b>Estado</b> </h3>
       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-justify ">
                     
                    <p>El estado en programación orientada a objetos se refiere a la información que se almacena en una instancia de una clase. Cuando se crea una instancia de una clase, se asigna espacio en memoria para almacenar los datos de esa instancia.
                         Esta información es lo que se conoce como el estado de la instancia.</p>

                            <div class="card-body text-center">
                                <img src="../../static/img/DiagramasTema1y2-estado.png" class="imgInformacion img-fluid " alt="" />
                               
                            </div>        
                            
                </div>
                    
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>


<!-- Main content -->
<section class="content mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header  border-info">
                        <h3><b>Identidad</b> </h3>
       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-justify ">
                     
                    <p>La identidad en programación orientada a objetos se refiere a la forma en que se identifica una instancia de una clase. 
                        Cada instancia de una clase tiene una identidad única que la distingue de las demás instancias de la misma clase. 
                        La identidad de una instancia se puede determinar mediante una dirección de memoria o un identificador único. 
                        La identidad de una instancia es importante 
                        porque permite a un programa diferenciar entre distintas instancias de la misma clase y tratarlas de forma individual.</p>
                    </div>
                
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header  border-info">
                        <h3><b>Tipos de objetos en el mundo real</b> </h3>
       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-justify ">
                     
                    <p>En programación orientada a objetos se pueden llegar a describir una gran cantidad de objetos del mundo real,
                         definiendo sus propiedades y sus métodos. Asimismo se debe hacer la distinción entre objetos físicos
                         del mundo real y objetos abstractos que existen conceptualmente pero no físicamente como por ejemplo una idea.</p>

                            <div class="card-body text-center">
                                <img src="../../static/img/tiposObj.png" class="imgInformacion img-fluid " alt="" />
                               
                            </div>
                    </div>
                
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>


<div class="container text-center">
    <h1><b>Actividades</b> </h1>

</div>


<div class="container ">
    <div class="row g-5">

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card " style="width: 21rem; height: 350px;" id="card">
                    <img src="../../static/img/undraw_Usability_testing_re_uu1g.png" class="cd card-img-top" height="200px"
                        alt="...">
                    <div class="card-body d-flex justify-content-center text-center">
                            <h5 class="card-title"  id="card-title"> <a href="../subtema1.3_actv1/" class="vinculoTitulo">Completar espacios en blanco</a></h5>
                    </div>
                    <div class="card-footer">
                        <a href="../subtema1.3_actv1/" class="botonGC btn btn-danger">Realizar</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card " style="width: 21rem; height: 350px;" id="card">
                    <img src="../../static/img/undraw_Online_test_re_kyfx.png" class="cd card-img-top" height="200px"
                        alt="...">
                    <div class="card-body d-flex justify-content-center">
               
                        <h5 class="card-title"  id="card-title"> <a href="../subtema1.3_actv2/" class="vinculoTitulo">Falso o verdadero</a></h5>
                    </div>
                    <div class="card-footer">
                        <a href="../subtema1.3_actv2/" class="botonGC btn btn-danger">Realizar</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="width: 21rem; height: 350px;" id="card">
                    <img src="../../static/img/undraw_Server_push_re_303w.png" class="cd card-img-top" height="200px"
                        alt="...">
                    <div class="card-body d-flex justify-content-center">
               
                        <h5 class="card-title"  id="card-title"> <a href="../subtema1.3_actv3/" class="vinculoTitulo">Emparejamiento</a></h5>
                    </div>
                    <div class="card-footer">
                        <a href="../subtema1.3_actv3/" class="botonGC btn btn-danger">Realizar</a>
                    </div>
                </div>
            </div>

  
    </div>


</div>


<div class="text-center mt-2 ">
    <a href="../subtema1.2/" class="btn btn-lg btn-warning mr-5" >Regresar</a>
    <a href="../subtema1.4/" class="btn btn-lg  btn-danger mr-5" >Siguiente</a>
    <a href="#arriba" class="btn-circle p-3 rounded-circle  btn-info " ><i class='fa fa-arrow-up'></i></a>
 </div>



{% endblock %}