{%extends "layouts/app.html" %}

{% block title %} Subtema 2.3 {% endblock %}

{% block content2  %}
    <style>
        .content p{
            font-size: 20px;
        }
        .botonGC {
        text-align: center;
        display: flex;
        justify-content: center;
         }
    </style>
{% endblock %}

{% block content  %}


  <!-- Main content -->
  <section class="content mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header  border-info">
                        <h3><b>SUBTEMA 2.3 Generar Código base</b> </h3>
       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-justify ">
                        <h5>En este video se explica como generar codigo Java a partir de un diagrama UML</h5>

                        <div class="text-center  d-flex justify-content-center  mt-4 mb-4">
                            <div class="card" style="width: 63rem;" id="card">
                                <div class="card-body">
                                <div class="embed-responsive embed-responsive-16by9 responsive-iframe" >
                                    <iframe class="embed-responsive-item "  src="https://www.youtube.com/embed/gOBlgnmlmUo"
                                        allowfullscreen></iframe>
                                    </div>
                                </div>
                             </div>
                        </div>
                      
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

<div class="container text-center">
    <h1><b>Actividad</b> </h1>

</div>


<div class="container ">
    <div class="row g-5 d-flex justify-content-center ">

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card " style="width: 21rem; height: 350px;" id="card">
                    <img src="../../static/img/undraw_Programming_re_kg9v.png" class="cd card-img-top" height="200px"
                        alt="...">
                    <div class="card-body d-flex justify-content-center text-center">
                            <h5 class="card-title"  id="card-title"> <a href="../subtema2.3_actv1/" class="vinculoTitulo">Quiz</a></h5>
                    </div>
                    <div class="card-footer">
                        <a href="../subtema2.3_actv1/" class="botonGC btn btn-danger">Realizar</a>
                    </div>
                </div>
            </div>


  
    </div>


</div>

<div class="text-center mt-2 ">
    <a href="../subtema2.2/" class="btn btn-lg btn-warning mr-5" >Regresar</a>
    <a href="../subtema2.4/" class="btn btn-lg  btn-danger mr-5" >Siguiente</a>
    <a href="#arriba" class="btn-circle p-3 rounded-circle  btn-info " ><i class='fa fa-arrow-up'></i></a>
 </div>

{% endblock %}