{%extends "layouts/app.html" %}

{% block title %} Subtema 1.2 {% endblock %}

{% block content2  %}
    <style>
        .content p{
            font-size: 20px;
        }

        .botonGC {
        text-align: center;
        display: flex;
        justify-content: center;
         }

        
  </style>
{% endblock %}


{% block content  %}

 <!-- Main content -->
 <section class="content ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
      
                        <h2><b>SUBTEMA 1.2 Pilares de la POO</b> </h2>
       
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

  <!-- Main content -->
  <section class="content mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header  border-info">
                        <h3><b>¿Qué es la Programación Orientada a Objetos -POO ?</b> </h3>
       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-justify ">
                     
                    <p>Es un paradigma de programación que se enfoca en el concepto de clase y objetos, lo cual consiste en que una clase es vista como un concepto determinado del mundo real ,como por ejemplo El ser humano, y a partir de esta clase Humano podemos crear objetos individuales que comparten atributos y métodos en común. Haciendo que un software determinado pueda estructurarse en piezas simples que 
                        puedan ser reutilizadas e iteradas dependiendo de lo que se requiera.</p>

                       <!--  <div class="card text-center" style="width: 40rem;" > -->
                            <div class="card-body text-center">
                                <img src="../../static/img/poo.png" class="imgInformacion img-fluid " alt="" width="450rem"/>
                            </div>
                            <!-- </div> -->
                </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>


  <!-- Main content -->
  <section class="content mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header  border-info">
                        <h3><b>Abstracción</b> </h3>
       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-justify ">
                     
                    <p>La abstracción es un concepto de la programación orientada a objetos el cual se basa en simplificar el funcionamiento de una determinada
                         clase y enfocarse en el “Que hace?” determinada propiedad o método más que en “como lo hace?” y de esta manera hacer uso de funcionalidades sin conocer todos los detalles de dicha funcionalidad.</p>

                            <div class="card-body text-center">
                                <img src="../../static/img/DiagramasTema1y2-abstraccion.png" class="imgInformacion img-fluid " alt="" />
                            </div>
                </div>
                    
                    
                    

                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

 <!-- Main content -->
 <section class="content mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header  border-info">
                        <h3><b>Encapsulamiento</b> </h3>
       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-justify ">
                     
                    <p>Es un concepto en el cual toda la información del objeto está contenida dentro de sí mismo y solamente se expone al mundo aquella información que sea seleccionada, 
                        a la cual se podrá acceder a través de propiedades y métodos públicos .</p>

                            <div class="card-body text-center">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/CPT-OOP-interfaces.svg/380px-CPT-OOP-interfaces.svg.png?20110424103042" class="imgInformacion img-fluid " alt="" />
                               
                            </div>
                            <div class="text-center">
                                <p>Imagen Tomada de Object_oriented_design_object.jpg: Ervinnderivative work: Pluke (talk) - Object_oriented_design_object.jpg, Dominio público, 
                                    <a href="https://commons.wikimedia.org/w/index.php?curid=15008605" target="_blank">Enlace</a></p>
                                
                            </div>
                            
                </div>
                    
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>


<!-- Main content -->
<section class="content mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header  border-info">
                        <h3 ><b>Modularidad</b> </h3>
       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-justify ">
                     
                    <p>Es la propiedad que permite dividir un determinado problema ( funcionalidad, bloque de código ) en partes más 
                        pequeñas las cuales sumadas entre sí puedan dar solución al problema en cuestión.</p>

                            <div class="card-body text-center">
                                <img src="../../static/img/DiagramasTema1y2-modularidad.png" class="imgInformacion img-fluid " alt="" />
                               
                            </div>
                    </div>
                
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header  border-info">
                        <h3><b>Herencia</b> </h3>
       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-justify ">
                     
                    <p>La herencia define relaciones jerárquicas entre clases, de forma que atributos y métodos comunes puedan ser reutilizados. 
                        Las clases principales extienden atributos y comportamientos a las clases secundarias. 
                        A través de la definición en una clase de los atributos y comportamientos básicos, se pueden crear clases 
                        secundarias, ampliando así la funcionalidad de la clase principal y agregando atributos y comportamientos adicionales.</p>

                            <div class="card-body text-center">
                                <img src="../../static/img/DiagramasTema1y2-Herencia.png" class="imgInformacion img-fluid " alt="" />
                               
                            </div>
                    </div>
                
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>


<!-- Main content -->
<section class="content mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header  border-info">
                        <h3><b>Polimorfismo</b> </h3>
       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-justify ">
                     
                    <p>El polimorfismo consiste en diseñar objetos para compartir comportamientos, lo que nos permite procesar objetos de 
                        diferentes maneras. <br>
                    
                        Diagrama de polimorfismo, objetos de tipos distintos con un método para responder a una misma acción. Cada animal 
                        responderá con su propio sonido, diferente al resto.</p>
                            <div class="card-body text-center">
                                <img src="../../static/img/DiagramasTema1y2-polimorfismo.png" class="imgInformacion img-fluid " alt="" />
                               
                            </div>
                    </div>
                
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

<div class="container text-center">
    <h1><b>Actividades</b> </h1>

</div>


<div class="container ">
    <div class="row g-5">

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card " style="width: 21rem; height: 350px;" id="card">
                    <img src="../../static/img/undraw_Programming_re_kg9v.png" class="cd card-img-top" height="200px"
                        alt="...">
                    <div class="card-body d-flex justify-content-center">
                            <h5 class="card-title"  id="card-title"> <a href="../subtema1.2_actv1/" class="vinculoTitulo">Quiz</a></h5>
                    </div>
                    <div class="card-footer">
                        <a href="../subtema1.2_actv1/" class="botonGC btn btn-danger">Realizar</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card " style="width: 21rem; height: 350px;" id="card">
                    <img src="../../static/img/undraw_Code_thinking_re_gka2.png" class="cd card-img-top" height="200px"
                        alt="...">
                    <div class="card-body d-flex justify-content-center">
               
                        <h5 class="card-title"  id="card-title"> <a href="../subtema1.2_actv2/" class="vinculoTitulo">Crucigrama</a></h5>
                    </div>
                    <div class="card-footer">
                        <a href="../subtema1.2_actv2/" class="botonGC btn btn-danger">Realizar</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="width: 21rem; height: 350px;" id="card">
                    <img src="../../static/img/undraw_Server_push_re_303w.png" class="cd card-img-top" height="200px"
                        alt="...">
                    <div class="card-body d-flex justify-content-center">
               
                        <h5 class="card-title"  id="card-title"> <a href="../subtema1.2_actv3/" class="vinculoTitulo">Emparejamiento</a></h5>
                    </div>
                    <div class="card-footer">
                        <a href="../subtema1.2_actv3/" class="botonGC btn btn-danger">Realizar</a>
                    </div>
                </div>
            </div>

  
    </div>


</div>


<div class="text-center mt-5 ">
    <a href="../subtema1.1/" class="btn btn-lg btn-warning mr-5" >Regresar</a>
    <a href="../subtema1.3/" class="btn btn-lg  btn-danger mr-5" >Siguiente</a>
    <a href="#arriba" class="btn-circle p-3 rounded-circle  btn-info " ><i class='fa fa-arrow-up'></i></a>
 </div>


{% endblock %}