{%extends "layouts/app.html" %}

{% block title %} Subtema 3.3 {% endblock %}

{% block content2  %}
    <style>
        .content p{
            font-size: 20px;
        }
        pre{
            font-size: 20px;
        }
        .botonGC {
        text-align: center;
        display: flex;
        justify-content: center;
         }
    </style>
{% endblock %}

{% block content  %}

 <!-- Main content -->
 <section class="content ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
      
                        <h3><b>SUBTEMA 3.3 Métodos: Tipos de métodos y Declaración en un lenguaje de POO</b> </h3>
       
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

  <!-- Main content -->
  <section class="content mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header  border-info">
                        <h3><b>¿Qué es un método?</b> </h3>
       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-justify ">

                        <p>Un método es una abstracción de una operación que puede hacer o realizarse con un objeto. 
                            Una clase puede declarar cualquier número de métodos que lleven a cabo operaciones de lo más variado con los objetos. 
                            En esta sección los métodos se clasifican en dos grupos: los métodos de instancia y los métodos de clase.</p>

                        <h4 class="mt-5"><b>Declaración de un método</b></h4>

                        <p>La definición de un método se compone de dos partes:</p>

                        <div class="lista mr-5">
                            <ul class="lista1">
                                <li><p><b>Cabecera del método,</b> que contiene el nombre del método junto con el tipo devuelto, un conjunto de posibles modificadores y una lista de parámetros.</p></li>
                                <li class="mt-2"><p><b>Cuerpo del método,</b>  que contiene las sentencias que implementan el comportamiento del método (incluidas posibles sentencias 
                                    de declaración de variables locales).</p> </li>
                            </ul>
                        </div>

                        <p class="mt-5">Los <b>elementos mínimos</b> que deben aparecer en la declaración de un método son:</p>

                        <div class="lista mr-5">
                            <ul class="lista1">
                                <li><p>El tipo devuelto por el método.</p></li>
                                <li class="mt-2"><p>El nombre del método.</p> </li>
                                <li class="mt-2"><p>Los paréntesis.</p> </li>
                                <li class="mt-2"><p>El cuerpo del método entre llaves: { }.</p> </li>
                            </ul>
                        </div>

                        <h5 class="mt-5"><b>Por ejemplo:</b></h5>
                        <div class="card-body text-center">
                            <img src="../../static/img/metodo.png" class="imgInformacion img-fluid " alt="metodo" />
                           
                        </div> 

                     
                        <div class="d-flex justify-content-center">

                            <div class="card border-danger border-2"  style="max-width: 40rem;">
                                <div class="card-body">
                                    <pre  style="white-space: pre-line;"><code class="language-java">int x; 
                                        int obtenerX() {
                                            // Cuerpo del método
                                            ...
                                            }
                                            
                                </code></pre> 
                                </div>
                            </div>
                        </div>

                        <p>Donde:
                            <br>
                            El tipo devuelto por el método es int.
                            <br>
                            El nombre del método es obtenerX.
                            <br>
                            No recibe ningún parámetro: aparece una lista vacía entre paréntesis: ().
                            <br>
                            El cuerpo del método es todo el código que habría encerrado entre llaves: { }.
                            </p>

                           
                </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>


 <!-- Main content -->
 <section class="content mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header  border-info">
                        <h3><b>Elementos de un método</b> </h3>
       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-justify ">

                        <div class="card-body text-center">
                            <img src="https://www.jc-mouse.net/wp-content/uploads/2015/05/code_fibonacci.gif" class="imgInformacion img-fluid " alt="elementos" width="700rem"/>
                           
                        </div> 

                        <h4 class="mt-3"><b>Declaración o cabecera:</b></h4>

                        <div class="lista mr-5">
                            <ul class="lista1">
                                <li class="mt-4"><p><b>Modo de acceso:</b> Especifica el tipo de acceso permitido indicando que usuarios de la clase podrán acceder a ese método, los métodos son la única forma de acceso a los atributos privados. Por defecto los métodos tienen protección paquete, es decir son accesibles desde cualquier clase que pertenezca al mismo paquete. 
                                    Todas las clases de un mismo fichero .java pertenecen a un mismo paquete.</p>
                                    <ul class="lista1">
                                        <li><p><b>public: </b>Accesible desde cualquier otra clase.</p></li>
                                        <li class="mt-2"><p><b>package: </b>Accesible sólo desde el mismo paquete.</p> </li>
                                        <li class="mt-2"><p><b>protected: </b>Se comporta como un método público para los métodos del mismo paquete o de las subclases y para el resto como un método privado.
                                        </p> </li>
                                        <li class="mt-2"><p><b>private: </b>Sólo accesible a través de métodos de la propia clase.</p> </li>
                                    </ul>
                                
                                </li>
                                <li class="mt-2"><p><b>Tipo del valor de retorno:</b> Un método puede devolver un valor a quien lo llama o no devolver nada. El valor devuelto por un método puede ser de un tipo primitivo de datos 
                                    o una referencia, pero nunca  puede devolver más de un valor. El valor de retorno nunca puede ser un objeto de una superclase, sí de la misma clase o de una subclase. 
                                    Si el método no devuelve nada el tipo devuelto por el método es el tipo void. </p> </li>
                                <li class="mt-2"><p><b>Nombre:</b> Por convenio, los nombres de los métodos comienzan con minúscula. Si el nombre del método es un nombre compuesto 
                                    cada nueva palabra empieza con mayúsculas. Los nombres de los métodos suelen ser verbos. <br><br>
                                    Ejemplo:&nbsp;	calcularPerimetro &nbsp; pintar &nbsp; finalizar</p> </li>
                                    <li class="mt-2"><p>Posible <b>lista de parámetros</b>, la lista de parámetros formales es opcional, la función podría no tenerlos, en caso de que los haya se trata de <b>variables locales </b>(sólo accesibles y visibles desde el propio método)
                                         separadas por comas de las que se debe de especificar el tipo y nombre de cada una, se inicializan en la llamada recibiendo los valores especificados por los argumentos de la llamada. 
                                         Aunque la función no lleve parámetros hay que poner los paréntesis. </p> </li>
                            </ul>
                        </div>

        

                        <h4 class="mt-4"><b>Cuerpo del método:</b></h4>


                        
                        <div class="lista mr-5">
                            <ul class="lista1">
                                <li class="mt-4"><p><b>Definición de variables locales.</b> Dentro de los métodos se pueden definir variables que sólo son accesibles dentro del método en donde se han definido. 
                                    Este tipo de variables no se inicializan por defecto, y, aunque no se inicialicen en el momento de su definición se deben de inicializar antes de utilizarlas 
                                    pues sino el compilador detecta un error.  </p></li>
                                <li class="mt-2"><p><b>Instrucciones </b> necesarias para realizar determinada tarea.</p> </li>
                                <li class="mt-2"><p>La instrucción <b>return</b> devuelve el control de la ejecución al método que hizo la llamada. 
                                    Si el método no devuelve nada y se elimina la sentencia return la función termina con la llave final o llave de cierre de la función, en este caso el tipo devuelto por el método es el tipo <b>void</b>.
                                     Si el método retorna un valor, la función no puede ser del tipo void y la sentencia return además de producir la salida de la función  específica el valor de retorno al método que hizo la llamada.
                                      En una función puede haber más de una sentencia return pero sólo se ejecuta una.</li>
                            </ul>
                        </div>          
                </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>



 <!-- Main content -->
 <section class="content mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header  border-info">
                        <h3><b>Parámetros de un método</b> </h3>
       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-justify ">

                        <p>La lista de parámetros de un método se coloca tras el nombre del método. Esta lista estará constituida por pares de la forma "&lt;tipoParametro&gt;  &lt; nombreParametro&gt; ". Cada uno de esos pares estará separado por comas y la lista completa estará encerrada entre paréntesis:
                        </p>

                        <div class="d-flex justify-content-center">

                            <div class="card border-danger border-2"  style="max-width: 40rem;">
                                <div class="card-body">
                                    <pre  style="white-space: pre-line;"><code class="language-java">int x; 
                                        &lt;tipo&gt; nombreMetodo (&lt;tipo_1&gt; &lt;nombreParametro_1&gt;, &lt;tipo_2&gt; &lt;nombreParametro_2&gt;, ..., &lt;tipo_n&gt; &lt;nombreParametro_n&gt;)
                                </code></pre> 
                                </div>
                            </div>
                        </div>

                        <p>Si la lista de parámetros está vacía, tan solo aparecerán los paréntesis:</p>

                        <div class="d-flex justify-content-center">

                            <div class="card border-danger border-2"  style="max-width: 40rem;">
                                <div class="card-body">
                                    <pre  style="white-space: pre-line;"><code class="language-java">
                                        &lt;tipo&gt; &lt;nombreMetodo&gt; ( )
                                </code></pre> 
                                </div>
                            </div>
                        </div>

                        <p>A la hora de declarar un método, debes tener en cuenta:</p>


                        
                        <div class="lista mr-5">
                            <ul class="lista1">
                                <li class="mt-4"><p>Puedes incluir cualquier cantidad de parámetros. Se trata de una decisión del programador, pudiendo ser incluso una lista vacía.</p></li>
                                <li class="mt-2"><p>Los parámetros podrán ser de cualquier tipo (tipos primitivos, referencias, objetos, arrays, etc.).</li>
                                <li class="mt-2"><p>No está permitido que el nombre de una variable local del método coincida con el nombre de un parámetro.</p></li>
                                <li class="mt-2"><p>No puede haber dos parámetros con el mismo nombre. Se produciría ambigüedad.</p></li>
                                <li class="mt-2"><p>Si el nombre de algún parámetro coincide con el nombre de un atributo de la clase, éste será ocultado por el parámetro.
                                     Es decir, al indicar ese nombre en el código del método estarás haciendo referencia al parámetro 
                                    y no al atributo. Para poder acceder al atributo tendrás que hacer uso del operador de autorreferencia this, que verás un poco más adelante.</p></li>
                               <li class="mt-2"><p>En Java el paso de parámetros es siempre por valor, excepto en el caso de los tipos referenciados (por ejemplo los objetos o arrays) en cuyo caso se está pasando 
                                efectivamente una referencia. La referencia (el objeto en sí mismo) no podrá ser cambiada pero sí elementos de su interior (atributos) a través de sus métodos o por acceso directo si 
                                se trata de un miembro público.</p></li>
                            </ul>
                        </div>  
                        
                        <h4 class="mt-4"><b>Tipos de Métodos:</b></h4>
                        <p>Lectura recomendada para los tipos de métodos: <a href="https://www.arkaitzgarro.com/java/capitulo-14.html"  target="_blank">Tipos de métodos | Java</a> y <a href="https://sites.google.com/site/wwwguiadeprogramacioncom/24-mtodos-declaracin-mensajes-pasos-parmetros-retorno-de-valores" target="_blank">2.4 Métodos declaración, mensajes, pasos parámetros, retorno de valores. - Programacion</a> </p>
                </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

<div class="container text-center">
    <h1><b>Actividad</b> </h1>

</div>


<div class="container ">
    <div class="row g-5 d-flex justify-content-center ">

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card " style="width: 21rem; height: 350px;" id="card">
                    <img src="../../static/img/undraw_Online_test_re_kyfx.png" class="cd card-img-top" height="200px"
                        alt="...">
                    <div class="card-body d-flex justify-content-center text-center">
                            <h5 class="card-title"  id="card-title"> <a href="../subtema3.3_actv1/" class="vinculoTitulo">Verdadero o falso</a></h5>
                    </div>
                    <div class="card-footer">
                        <a href="../subtema3.3_actv1/" class="botonGC btn btn-danger">Realizar</a>
                    </div>
                </div>
            </div>


  
    </div>


</div>


<div class="text-center mt-2 ">
    <a href="../subtema3.2/" class="btn btn-lg btn-warning mr-5" >Regresar</a>
    <a href="../subtema3.4/" class="btn btn-lg  btn-danger mr-5" >Siguiente</a>
    <a href="#arriba" class="btn-circle p-3 rounded-circle  btn-info " ><i class='fa fa-arrow-up'></i></a>
 </div>



{% endblock %}


{% block content3  %}
<script>hljs.highlightAll();</script>
{% endblock %}